@model CRUDProductos.Models.Supplier
<h2>➕ Crear Proveedor</h2>

<form method="post">

    <input asp-for="Name" class="form-control mb-2" placeholder="Nombre" />
    <input asp-for="Phone" class="form-control mb-2" placeholder="Teléfono" />
    <input asp-for="Email" class="form-control mb-2" placeholder="Email" />
    <input asp-for="Address" class="form-control mb-2" placeholder="Dirección" />

    <button class="btn btn-success">Guardar</button>

</form>