@{
    ViewData["Title"] = "Pago";
}

<h2>💳 Pago</h2>

<form method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Método de pago</label>
        <select name="metodo" class="form-control">
            <option>Nequi</option>
            <option>Bancolombia</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Teléfono</label>
        <input type="text" name="telefono" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">
        Confirmar pago
    </button>
</form>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success mt-3">
        @ViewBag.Mensaje
    </div>
}