@model CRUDProductos.Models.Product

<h2>Crear Producto</h2>

<form asp-action="Create">

    <label>Nombre</label>
    <input asp-for="Name" />

    <br /><br />

    <label>Precio</label>
    <input asp-for="Price" />

    <br /><br />

    <button type="submit">Guardar</button>

</form>

<div class="mb-3">
    <label>Descripción</label>
    <input asp-for="Description" class="form-control" />
</div>

<div class="mb-3">
    <label>URL de Imagen</label>
    <input asp-for="ImageUrl" class="form-control" />
</div>