@model CRUDProductos.Models.Product

<h2>@Model.Name</h2>

<p>💲 Precio: @Model.Price</p>

<a class="btn btn-success">🛒 Agregar al carrito</a>

<a asp-action="Index" class="btn btn-secondary">Volver</a>