@model CRUDProductos.Models.Product

<h2>Editar Producto</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="ProductId" />

    <div>
        <label>Nombre</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Precio</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index">Volver</a>

</form>